<h2><i class="bi bi-envelope"></i>ติดต่อเรา</h2>

<div class="row">
    <div class="col-6">
        <h4>Map</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Ab fugiat consequatur excepturi animi, nostrum error quam, tempore omnis quo expedita eum accusantium id quasi illum? Temporibus esse provident possimus debitis?
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d946.9154983033529!2d99.3985252674631!3d18.31705937315334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d96f525cafc907%3A0x508ec59c3ce19165!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4Lib4Lij4Liw4Liq4Liy4LiZ4LiH4Liy4LiZIOC4muC4o-C4tOC4qeC4seC4lyDguYDguIQg4Lii4Li5IOC5gOC4reC5h-C4mSDguYLguIHguYLguIHguYkg4LmA4LiZ4LmH4LiV4LmA4Lin4Li04Lij4LmM4LiBIOC4iOC4s-C4geC4seC4lA!5e0!3m2!1sth!2sth!4v1724743901109!5m2!1sth!2sth" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="col-6">
        <h4>Address</h4>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-8">
                <p>
                    ร้านบ้านจุนตา<br>
                    199 ม.6 ถ.สุขุทวิท<br>
                    ต.ทุ่งสขลา อ.ศรีราชา<br>
                </p>
            </div>
        </div>
        <h4>Phone</h4>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-8">
                <p>
                    099-999-9999
                </p>
            </div>
        </div>
        <h4>social medie</h4>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-8">
                <a href="http://facebook.com" target="_blank"><i class="bi bi-facebook" style="margin-right: 10px;"></i>facebook</a><br>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram" style="margin-right: 10px;"></i>instagram</a><br>
                <a href="https://x.com/?lang=th&mx=2" target="_blank"><i class="bi bi-twitter" style="margin-right: 10px;"></i>Twitter</a><br>
            </div>
        </div>
    </div>
</div>
