<h2>เกี่ยวกับเรา</h2>
<hr />
<h3>ประวัติร้าน</h3>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
    <p>
      ร้านอาหารบ้านจุนตาเป็นสถานที่ที่เต็มไปด้วยความอบอุ่นและรสชาติที่เป็นเอกลักษณ์ เราเสิร์ฟอาหารไทยแท้ที่ทำจากวัตถุดิบสดใหม่และมีคุณภาพ 
      ให้บริการด้วยความใส่ใจและความรักในทุกๆ จาน อาหารของเรามีทั้งเมนูสุดคลาสสิกและเมนูที่ปรับปรุงใหม่เพื่อตอบสนองรสนิยมของลูกค้า.
    </p>
    <p>
      บรรยากาศในร้านได้รับการออกแบบให้มีความเป็นกันเองและอบอุ่น เสมือนรับประทานอาหารที่บ้านของตัวเอง 
      ทีมงานของเราพร้อมที่จะทำให้ประสบการณ์การรับประทานอาหารของคุณเป็นสิ่งที่น่าจดจำ ไม่ว่าคุณจะมาทานอาหารกับครอบครัว เพื่อนฝูง หรือคู่รัก ร้านบ้านจุนตายินดีต้อนรับคุณเสมอ.
    </p>
    <p>
      เราหวังว่าจะได้มีโอกาสต้อนรับคุณและทำให้คุณรู้สึกถึงความพิเศษที่เราใส่ใจในทุกๆ รายละเอียดของการบริการและอาหารของเรา.
    </p>
  </div>
</div>
<h3>พนักงานของเรา</h3>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/toy.jpg" class="rounded" style="height: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              พนักงานคนที่ 1
            </div>
            <p class="card-text">นาย ณัฐธนัท กิจบุญชู.</p>
            </div>
          </div>
        </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/Kumamon.jpg" class="rounded" style="height: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              พนักงานคนที่ 2
            </div>
            <p class="card-text">นางสาว สมศรี สวยมาก.</p>
            </div>
          </div>
        </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/until.jpg" class="rounded" style="height: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              พนักงานคนที่ 3
            </div>
            <p class="card-text">นางสาว สมหญิง ผู้ดี.</p>
            </div>
          </div>
        </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/loyd.png" class="rounded" style="height: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              พนักงานคนที่ 4
            </div>
            <p class="card-text">นาย ทองดี ทองเหม็น.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
