<!-- <p>menu works!</p> -->

<h2 class="text-center">หมวดหมู่อาหาร</h2>
<div class="accordion accordion-flush mt-4" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          อาหารคาว
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="row mt-4">
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/tomyum.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">ต้มยำกุ้งน้ำข้น 120 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/kawpad.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">ข้าวผัดกุ้ง 70 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/kapaw.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">กะเพราหมูสับ + ไข่ดาว 65 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/kang.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">แกงเขียวหวาน 100 บาท</p>
                </a>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          อาหารหวาน
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="row mt-4">
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/ma.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">ข้าวเหนียวมะม่วง 60 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/lod.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">ลอดช่องสิงคโปร์ 50 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/cho.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">เฉาก๊วยนมสด 40 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/bu.jpg" alt="" class="w-100" style="height: 200px;">
                    <p class="text-center mt-2 text-black">บัวลอยไข่หวาน 60 บาท</p>
                </a>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          เครื่องดื่ม
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="row mt-4">
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/ice.jpg" alt="" class="w-100" style="height: 250px;">
                    <p class="text-center mt-2 text-black">น้ำแข็งถัง 10 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/wa.jpg" alt="" class="w-100" style="height: 250px;">
                    <p class="text-center mt-2 text-black">น้ำเปล่าขวดเล็ก 10 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/water.png" alt="" class="w-100" style="height: 250px;">
                    <p class="text-center mt-2 text-black">น้ำเปล่าขวดใหญ่ 20 บาท</p>
                </a>
            </div>
            <div class="col-3">
                <a href="menu" style="text-decoration: none;">
                    <img src="assets/images/coke.jpg" alt="" class="w-100" style="height: 250px;">
                    <p class="text-center mt-2 text-black">โค้ก 20 บาท</p>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>