<marquee behavior="" direction="">เปิดให้บริการ <i class="bi bi-patch-check-fill text-success"></i></marquee>
<h2 class="text-center mt-3">ยินดีต้อนรับ สู่ร้านอาหารบ้านจุนตา</h2>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <h2 class="mt-4" style="color: rgb(192, 61, 0)">เมนูอาหาร ขายดี!</h2>
      <div class="carousel-item active">
        <a href="menu">
          <img src="assets/images/tomyum.jpg" class="d-block w-100" alt="..." style="height : 700px">
        </a>
        <div class="row mt-2">
          <div class="col-4">
            <h4>ต้มยำกุ้งนำข้น</h4>
          </div>
          <div class="col-5">
          </div>
          <div class="col-3">
            <h4 class="text-end">ราคา : 120 บาท</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <a href="menu">
          <img src="assets/images/kawpad.jpg" class="d-block w-100" alt="..." style="height : 700px">
        </a>
        <div class="row mt-2">
          <div class="col-4">
            <h4>ข้าวผัดกุ้ง</h4>
          </div>
          <div class="col-5">
          </div>
          <div class="col-3">
            <h4 class="text-end">ราคา : 70 บาท</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <a href="menu">
          <img src="assets/images/kapaw.jpg" class="d-block w-100" alt="..." style="height : 700px">
        </a>
        <div class="row mt-2">
          <div class="col-4">
            <h4>กะเพราหมูสับ + ไข่ดาว</h4>
          </div>
          <div class="col-5">
          </div>
          <div class="col-3">
            <h4 class="text-end">ราคา : 65 บาท</h4>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- <p>home works!</p> -->
